<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="row align-items-center py-3">
            <div class="col text-center">
                <a href="/" class="text-decoration-none">
                    <span class="h1 text-uppercase text-warning bg-dark px-2">E</span>
                    <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">Commerce</span>
                </a>
            </div>
        </div>
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
        </div>
        <form class="user" method="POST" action="/login">
            <div class="form-group">
                <input type="email" class="form-control form-control-user"
                    id="exampleInputEmail" aria-describedby="emailHelp"
                    placeholder="Enter Email Address..." name="email" value="<%= old.email || '' %>">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="rememberMe">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-user btn-block" value="login">
            <hr>
            <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Login with Google
            </a>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="/forgot-password">Forgot Password?</a>
        </div>
        <div class="text-center">
            <a class="small" href="/register">Create an Account!</a>
        </div>
        <div class="text-center">
            <a class="small" href="/">Home Page</a>
        </div>
    </div>
</div>
                       