<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Reset Password?</h1>
            <p class="mb-4">Enter New Password!</p>
        </div>
        <form class="user" method="POST" action="/reset-password/<%= token %>">
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleInputPassword" aria-describedby="passwordHelp"
                    placeholder="Enter Password" name="password">
            </div>
            <input type="submit" class="btn btn-primary btn-user btn-block" value="Update Password">
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="/register">Create an Account!</a>
        </div>
        <div class="text-center">
            <a class="small" href="/login">Already have an account? Login!</a>
        </div>
        <div class="text-center">
            <a class="small" href="/">Home Page</a>
        </div>
    </div>
</div>
                        