<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="row align-items-center py-3">
            <div class="col text-center">
                <a href="/" class="text-decoration-none">
                    <span class="h1 text-uppercase text-warning bg-dark px-2">E</span>
                    <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">Commerce</span>
                </a>
            </div>
        </div>
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4"><%= title %></h1>
        </div>
        <form class="user" method="POST" action="/profile/password/<%= user._id %>">
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleNewPassword" aria-describedby="oldPasswordHelp"
                    placeholder="Enter Old Password" name="oldPassword">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleNewPassword" aria-describedby="newPasswordHelp"
                    placeholder="Enter New Password" name="newPassword">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleoldPassword" aria-describedby="confirmPasswordHelp"
                    placeholder="Enter New Password" name="confirmPassword">
            </div>
            
            <input type="submit" class="btn btn-primary btn-user btn-block" value="Update">
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="/login">Dashboard</a>
        </div>
    </div>
</div>
                       