<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="bg-light p-30 mb-30">
                <h3 class="mb-4">Contact Us</h3>
                <p>If you have any questions, concerns, or feedback, we would love to hear from you! Our dedicated customer support team is here to assist you with any inquiries you may have regarding our platform, products, or services. Please feel free to reach out to us through any of the following methods:</p>
                <ul>
                    <li><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></li>
                    <li><strong>Phone:</strong> +1 (123) 456-7890</li>
                    <li><strong>Address:</strong> 123 Street, New York, USA</li>
                </ul>
                <p>Thank you for choosing our platform for your shopping needs. We look forward to serving you and helping you discover amazing products from talented sellers around the world!</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="/img/offer-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="/products" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="/img/offer-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="/products" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>