<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
        <div class="ml-auto">
            <a href="/admin/customers" class="btn btn-outline-primary btn-sm mt-1">Customers</a>
            <a href="/admin/customers/trashed" class="btn btn-outline-primary btn-sm mt-1">Trashed</a>
        </div>
    </div>

    <!-- Content Row -->
    <form action="/admin/customers" method="POST" class="bg-white shadow p-4 rounded">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="<%= old.name || '' %>" required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" value="<%= old.email || '' %>" required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Phone</label>
                <input type="phone" name="phone" id="phone" class="form-control" value="<%= old.phone || '' %>" required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
        </div>

        <input type="submit" name="submit" class="btn btn-primary" value="Save" required />

    </form>
    <!--/Form -->

</div>
<!-- /.container-fluid -->