<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
        <div class="ml-auto">
            <a href="/admin/shops" class="btn btn-outline-primary btn-sm mt-1">Shops</a>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div id="crudTable" class="w-100 text-dark table-sm"></div>
    </div>

</div>
<!-- /.container-fluid -->

<%- include('../../partials/restoreModal.ejs') %>

<script src="/js/tabulator.min.js"></script>
<script type="module">
    import { initTabulator } from "/js/tabulator-helper.js";

    const tableData = <%- JSON.stringify(shops || []) %>;

    const columns = [
        { title: "S.No.", formatter: "rownum", width: 50, hozAlign: "center", headerSort: false },
        { title: "Image", field: "logo", formatter: function(cell, formatterParams) {
            const icon = cell.getValue();
            const imgSrc = icon ? icon.url : '/img/placeholder.png';
            return `<img src="${imgSrc}" alt="Icon" class="w-50 border border-2 border-secondary rounded shadow">`;
        }, hozAlign: "center", headerSort: false, width: 100 },
        { title: "Name", field: "name", headerFilter: "input" },
        { title: "Vendor", field: "vendorId.name", headerFilter: "input" },
        { title: "Slug", field: "slug", headerFilter: "input" },
        { title: "Status", field: "status", headerFilter: "input", formatter: function(cell, formatterParams) {
            const status = cell.getValue();
            if (status == "approved") {
                return `<span class="badge badge-success">Approved</span>`;
            }  else {
                return `<span class="badge badge-warning">Pending</span>`;
            }
        }},
        { title: "Deleted", field: "deletedAt" }
    ];

    function actionsTemplate(rowData) {
        return `
            <button onclick="openModal('${rowData._id}')" class="btn btn-sm btn-success" title="Restore"><i class="fas fa-undo"></i></button>
        `;
    }

    // Initialize table with deleteUrl
    initTabulator({
        tableId: "#crudTable",
        data: tableData,
        columns,
        actions: actionsTemplate,
        url: "/admin/shops/restore",
        method: "POST"
    });

</script>

<%- contentFor('tabulatorCSS') %>
<link rel="stylesheet" href="/css/tabulator_bootstrap5.min.css" />
<link rel="stylesheet" href="/css/tabulator-custom.css" />




